body,html{margin:0}


#ul1{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1463bf+0,508dd4+100 */
background: #1463bf; /* Old browsers */
background: -moz-linear-gradient(left,  #1463bf 0%, #508dd4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1463bf 0%,#508dd4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1463bf 0%,#508dd4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1463bf', endColorstr='#508dd4',GradientType=1 ); /* IE6-9 */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #ul1 li {
    float: left;
  }
  
  #ul1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 7px;
  }
  
  #ul1 .hov:hover {
    transform:translateY(-6px);
    transition: transform 0.2s;
    background-color: #147bf1;

  }
     
  #tense{
    font-family: 'Tangerine', serif;
    letter-spacing: 3px;
    font-size: xx-large;
  }

  #img1{
      position: relative;
      top:6px;
      left: 12px;
  }

  #ul1 .hov{
      position: relative;
      top: 10px;
  }

  #login{
      margin-left: 250px;
      margin-top: 4px;

      background-color: #1463bf;
      border-radius: 25px;
      padding:11px 30px 16px 30px !important;
  }
  #login:hover{
    background-color: #7eb3f0;
    transition:  0.2s;

  }

  #signup{
    margin-top: 4px;

    background-color: whitesmoke;
    color: #1463bf !important;
    border-radius: 25px;
    padding:12px 30px 12px 30px !important;
    margin-left: 25px;
}

#signup:hover{
    background-color: #7eb3f0;
    transition:  0.4s;


}

body{
    background-color: rgb(34, 33, 33);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
}

#mailid{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    margin-top: 60px;
    text-align: center;
    text-decoration: underline;

}

#symptoms{
    font-size: x-large;
    margin-top: 104px;
    margin-left: 30px;
}


#symp{
    margin-left: 30px;
    margin-top: 60px;
}

#yes{
    margin-left: 30px;
    margin-top: 60px;
}

#img{
    margin-left: 30px;
    margin-top: 60px;
}

.count{
    margin-left: 30px;
    margin-top: 60px;  
}

#upl{
    margin-top: 140px;
    text-align: center;
}


#btn{
    margin-top: 150px;
    background-color: violet;
    color: black;
    width: 100px;
    height: 30px;
    margin-left: 610px;
    margin-bottom: 40px;
}